@{
    ViewBag.Title = "Welcome!!!";
}

<div class="jumbotron">
  <div class="container">
    <h3>Welcome to RetroShark a place where you can do Scrum Retrospectives with style</h3>
      <div class="actions">
          <a class="btn btn-primary btn-lg" href="@Url.Absolute("~/r/start")">Start a Retrospective</a>
          <a class="btn btn-primary btn-lg">Join a Retrospective</a>
      </div>
  </div>
</div>
