@model RetrospectiveViewModel

@{
    ViewBag.Title = Model.Retrospective.Title;
    Layout = "~/Views/Retrospective/_Layout.cshtml";
}

@PageContext.ViewModel()

<div id="retrospective">
    @{Html.RenderPartial("Feedbacks");}
</div>